
*.json
*.vcxproj
build/cmake_install.cmake
*.cmake
*.filters
*.lastbuildstate
*.tlog
*.txt
*.bin
*.c
*.exe
*.obj
*.recipe
*.cpp
*.rule
*.check_cache
*.log
*.stamp
*.depend
*.list
*.pdb
*.sln
*.tcl
*.ilk
